{% extends 'base.html.twig' %}
{% block listuser %}
<br><br><br><br>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset ('css/estiloTablas.css')}}" />
    <script type="text/javascript" src="{{asset('js/buscador.js')}}"></script>
    <title></title>
  </head>
  <body>
    <div id="buscador">
      Buscar:<input id="searchTerm" type="text" onkeyup="doSearch()"/>
    </div>
      <button class="buttonInsertar" type="button" name="button"><a style="color: white;" href='{{ path('registro') }}'>Nuevo Usuario</a></button>
  <div class="table-users">
    <div class="header">Usuarios</div>
      <table cellspacing="0" id="regTable">
       <tr>
         <th>Usuario</th>
         <th>Email</th>
         <th>Borrar</th>
         <th>Actualizar</th>
       </tr>
    {% for item in user %}
        <tr>
          <td>{{ item.username }}</td>
          <td>{{ item.email }}</td>
          <td><a class="delete"href="{{ path('borrarUser',{'id':item.id}) }}" />Borrar</a></td>
          <td><a class="actu"href="{{ path('actualizaruser',{'id':item.id}) }}" />Actualizar</a></td>
        </tr>
    {% endfor %}
        </tr>
      </table>
    </div>

  </body>
</html>
{% endblock %}
