{% block formulario %}
 <link rel="stylesheet" href="{{ asset('css/formularios.css') }}" />
 <!-- Bootstrap core CSS-->
 <link href="{{ asset ('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
 <!-- Custom fonts for this template-->
 <link href="{{ asset ('vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
 <!-- Page level plugin CSS-->
 <link href="{{ asset ('vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
 <!-- Custom styles for this template-->
 <link href="{{ asset ('css/sb-admin.css') }}" rel="stylesheet">

 <link rel="icon" type="image/x-icon" href="{{ asset('img/icon.ico') }}" />
 
 <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
 <style media="screen">
   body{
     background-image:  url('img/asindown_login.jpg');

     /* Image is centered vertically and horizontally at all times */
     background-position: center center;

     /* Image doesn't repeat */
     background-repeat: no-repeat;

     /* Makes the image fixed in the viewport so that it doesn't move when
        the content height is greater than the image height */
     background-attachment: fixed;

     /* This is what makes the background image rescale based on its container's size */
     background-size: cover;

     /* Pick a solid background color that will be displayed while the background image is loading */
     background-color:#464646;

     /* SHORTHAND CSS NOTATION
      * background: url(background-photo.jpg) center center cover no-repeat fixed;
      */}
      /* For mobile devices */
      @media only screen and (max-width: 767px) {
        body {
          /* The file size of this background image is 93% smaller
           * to improve page load speed on mobile internet connections */
          background-image: url(img/asindown_login_mobile.png);
        }
      	}
 </style>
<body>
  {% if error %}
      <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}
  <br><br><br><br><br><br>
  <div id="formulario">
    <div class="contenedor">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Formulario</div>
        <div class="card-body">
          <form class="form-signin" action="{{ path('login') }}" method="post">
            <label for="exampleInputEmail1">Usuario</label>
            <input type="text" class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Usuario"/>
            <br>
            <label for="exampleInputEmail1">Contraseña</label>
            <input type="password" class="form-control" name="_password"id="password" placeholder="Password" required=""/>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          </form>
          </div>
        </div>
      </div>
    </div>
    <img src="img/Logo_blanco.png" id="logo" height="25%" width="50%">
</body>
{% endblock %}
