<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Proyecto Asindown</title>
    {% block stylesheets %}
    <!-- Bootstrap core CSS-->
      <link href="{{ asset ('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
      <!-- Custom fonts for this template-->
      <link href="{{ asset ('vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
      <!-- Page level plugin CSS-->
      <link href="{{ asset ('vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
      <!-- Custom styles for this template-->
      <link href="{{ asset ('css/sb-admin.css') }}" rel="stylesheet">
      <link rel="icon" type="image/x-icon" href="{{ asset('img/icon.ico') }}" />

      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    {% endblock %}

</head>
    <body>

      {% block nav %}
      <nav class="navbar navbar-expand-lg  fixed-top" id="mainNav" style="background-color:#032578">
        <a class="navbar-brand" href="index.html" style="color:white">ASINDOWN</a>
        <img src="{{ asset('img/Logo_blanco.png')}}" alt="" width="20%" height="20%">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav navbar-sidenav" id="exampleAccordion" style=" background-color:#032578" >

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Inicio" >
              <a class="nav-link" href="{{ path ("login")}}">
                <i class="fab fa-cloudsmith" style="color:white"></i>
                <span class="nav-link-text" style="color: white">Inicio</span>
              </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Cursos" style="color:white">
              <a class="nav-link" href="{{ path ("listarCursos")}}">
                <i class="fas fa-user-secret" style="color:white"></i>
                <span class="nav-link-text" style="color: white">Cursos</span>
              </a>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Alumnos">
              <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents2" data-parent="#exampleAccordion">
                <i class="fab fa-accusoft" style="color:white"></i>
                <span class="nav-link-text" style="color: white">Alumnos</span>
              </a>
              <ul class="sidenav-second-level collapse" id="collapseComponents2">
                <li>
                  <a href="{{ path ("listaAlumnosActivos")}}" style="color: white">Activo</a>
                </li>
                <li>
                  <a href="{{ path ("listaAlumnosInactivos")}}" style="color: white">No activo</a>
                </li>
              </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Profesores">
              <a class="nav-link" href="{{ path ("listaprofesores")}}">
                <i class="fas fa-user-secret"style="color:white"></i>
                <span class="nav-link-text" style="color: white">Profesores</span>
              </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Usuarios" style="color:white">
              <a class="nav-link" href="{{ path ("listausuarios")}}">
                <i class="fas fa-user-secret" style="color:white"></i>
                <span class="nav-link-text" style="color: white">Usuarios</span>
              </a>
            </li>
            {% elseif is_granted('ROLE_PROFESOR')%}
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Usuarios" style="color:white; visibility: hidden;">
              <a class="nav-link" href="{{ path ("listausuarios")}}">
                <i class="fas fa-user-secret" style="color:white"></i>
                <span class="nav-link-text" style="color: white">Usuarios</span>
              </a>
            </li>
            {% endif %}
          </ul>
          <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
              <a class="nav-link text-center" id="sidenavToggler">
                <i class="fa fa-fw fa-angle-left"></i>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            {% if app.user %}
              <a href="{{ path("logout")}}">Logout</a>
            {% else %}
            <a href="{{ path("login")}}">Login</a>
            {% endif %}
          </ul>
        </div>
      </nav>
      {% endblock %}
      {% block listuser %}{% endblock %}
      {% block formulario %}{% endblock %}
      {% block historial %}{% endblock %}
      {% block tabla %}{% endblock %}
      {% block nuevoAlumno %}{% endblock %}
      {% block listprof %}{% endblock %}
      {% block javascript %}
        <!-- Bootstrap core JavaScript-->
        <script src="{{ asset ('vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset ('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <!-- Core plugin JavaScript-->
        <script src="{{ asset ('vendor/jquery-easing/jquery.easing.min.js') }}"></script>
        <!-- Page level plugin JavaScript-->
        <script src="{{ asset ('vendor/chart.js/Chart.min.js') }}"></script>
        <script src="{{ asset ('vendor/datatables/jquery.dataTables.js') }}"></script>
        <script src="{{ asset ('vendor/datatables/dataTables.bootstrap4.js') }}"></script>
        <!-- Custom scripts for all pages-->
        <script src="{{ asset ('js/sb-admin.min.js') }}"></script>
        <!-- Custom scripts for this page-->
        <script src="{{ asset ('js/sb-admin-datatables.min.js') }}"></script>
        <script src="{{ asset ('js/sb-admin-charts.min.js') }}"></script>
      {% endblock %}

    </body>
</html>
