{% extends 'base.html.twig' %}
{% block tabla %}
  <br><br><br><br>
  <html>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{{ asset ('css/estiloTablas.css')}}"/>
      <script type="text/javascript" src="{{asset('js/buscador.js')}}"></script>
      <script type="text/javascript" src="{{asset('js/tablesorter.js')}}"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <title></title>
    </head>
    <body>
      <div id="buscador">
        Buscar:<input id="searchTerm" type="text" onkeyup="doSearch()"/>
      </div>
      {% if is_granted('ROLE_ADMIN') %}
         <button class="buttonInsertar" type="button" name="button"><a style="color: white;" href='{{ path('nuevoCurso') }}'>Nuevo Curso</a></button>
      {% elseif is_granted('ROLE_PROFESOR') %}
         <button class="buttonInsertar" style="display:none;" type="button" name="button"><a style="color: white;" href='{{ path('nuevoCurso') }}'>Nuevo Curso</a></button>
      {% endif %}
      <div class="table-users">
        <div class="header">Cursos</div>

        <table cellspacing="0" id="regTable">
          <tr>
            <th><span class="glyphicon glyphicon-resize-vertical" onclick="sortTable(0)"></span>Nombre</th>
            <th>Horas</th>
            <th>Entidad Promotora</th>
            <th>Fechas De Realizacion</th>
            <th>Valoracion</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>Actualizar</th>
            <th>Eliminar</th>
            {% elseif is_granted('ROLE_PROFESOR') %}
            <th style="display:none;">Actualizar</th>
            <th style="display:none;">Eliminar</th>
            {% endif %}
            <th>Matriculados</th>
          </tr>
          {% for item in curso %}
            <tr>
              <td>{{ item.nombre }}</td>
              <td>{{ item.horas }}</td>
              <td>{{ item.entidadPromotora }}</td>
              <td>{{ item.fechasDeRealizacion }}</td>
              <td>{{ item.valoracion }}</td>
              {% if is_granted('ROLE_ADMIN') %}
              <td>
                <a class="navbar-brand" href="{{ path('cursoActualizar', {'id':item.id}) }}">Editar</a>
              </td>
              <td>
                <a href="{{ path('eliminarCurso',{'id':item.id}) }}">Borrar</a>
              </td>
              {% elseif is_granted('ROLE_PROFESOR') %}
              <td style="display:none;">
                <a class="navbar-brand" href="{{ path('cursoActualizar', {'id':item.id}) }}">Editar</a>
              </td>
              <td style="display:none;">
                <a href="{{ path('eliminarCurso',{'id':item.id}) }}">Borrar</a>
              </td>
              {% endif %}
              <td>
                <a href="{{path('gentePorCurso', {'id':item.id})}}">Matriculados</a>
              </td>
            </tr>
          {% endfor %}
        </tr>
      </table>
    </div>
  </body>
</html>
{% endblock %}
