{% extends 'base.html.twig' %}
{% block tabla %}
<br><br><br><br>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset ('css/estiloTablas.css')}}" />
    <title></title>
    </head>
    <body>
      <div class="table-users">
        <div class="header">Cursos</div>
        <table cellspacing="0">
          <tr>
            <th>Nombre</th>
            <th>Horas</th>
            <th>Entidad promotora</th>
            <th>Fechas</th>
            <th>Valoracion</th>
            <th>Acciones</th>
          </tr>
            {% for item in curso %}
                <tr>
                <td>{{item.nombre}}</td>
                <td>{{item.horas}}</td>
                <td>{{item.entidadPromotora}}</td>
                <td>{{item.fechasDeRealizacion}}</td>
                <td>{{item.valoracion}}</td>
                <td>
                  <a href="{{ path('eliminarCurso',{'id':item.id}) }}">Eliminar curso</a>
                  <br>
                  <a href="{{ path('cursoActualizar',{'id':item.id}) }}">Actualizar curso</a>
                </td>
              </tr>
            {% endfor %}
          </tr>
        </table>
      </div>
    </body>
  </html>
{% endblock %}
