{% extends 'base.html.twig' %}
{% block tabla %}
  <br><br><br><br>
  <html>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{{ asset ('css/estiloTablas.css')}}"/>
      <script type="text/javascript" src="{{asset('js/buscador.js')}}"></script>
      <title></title>
    </head>
    <body>
      <div id="buscador">
        Buscar:<input id="searchTerm" type="text" onkeyup="doSearch()"/>
      </div>
      <div class="table-users">
        <div class="header">Cursos</div>

        <table cellspacing="0" id="regTable">
          <tr>
            <th>Nombre</th>
            <th>Horas</th>
            <th>Entidad Promotora</th>
            <th>Fechas De Realizacion</th>
            <th>Valoracion</th>
            <th>Actualizar</th>
            <th>Elimina</th>
          </tr>
          {% for item in curso %}
            <tr>
              <td>{{ item.nombre }}</td>
              <td>{{ item.horas }}</td>
              <td>{{ item.entidadPromotora }}</td>
              <td>{{ item.fechasDeRealizacion }}</td>
              <td>{{ item.valoracion }}</td>
              <td>
                <a class="navbar-brand" href="{{ path('cursoActualizar', {'id':item.id}) }}">Editar</a>
              </td>
              <td>
                <a href="{{ path('eliminarCurso',{'id':item.id}) }}">Borrar</a>
              </td>
            </tr>
          {% endfor %}
        </tr>
      </table>
    </div>
  </body>
</html>
{% endblock %}
