{% extends 'base.html.twig' %}
{% block listaCursos %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset ('css/sb-admin.css')}}" />
    <script type="text/javascript" src="{{asset('js/buscador.js')}}"></script>
    <title></title>
  </head>
  <body>
    <br>
    <br>
    <!-- Example DataTables Card-->
    <div id="buscador">
      Buscar:<input id="searchTerm" type="text" onkeyup="doSearch()"/>
    </div>
    <div class="table-users">
     <div class="header">Cursos</div>
     <table cellspacing="0"id="regTable">
       <tr>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Horas</th>
        <th>Entidad Promotora</th>
        <th>Fechas De Realizacion</th>
        <th>Valoracion</th>
        <th>Actualizar</th>
        <th>Elimina</th>
      </tr>
    {% for item in curso %}

        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.horas }}</td>
          <td>{{ item.entidadPromotora }}</td>
          <td>{{ item.fechasDeRealizacion }}</td>
          <td>{{ item.valoracion }}</td>
          <td><a class="navbar-brand" href="{{ path('cursoActualizar', {'id':item.id}) }}">Editar Curso</a></td>
         <td><a href="{{ path('eliminarCurso',{'id':item.id}) }}">Borrar</a></td>
        </tr>
    {% endfor %}
      </table>
      </div>
     <br>
  </body>
</html>
{% endblock %}
