{% extends 'base.html.twig' %}
{% block formulario %}
<link rel="stylesheet" href="{{ asset('css/registro.css') }}" />
<!-- Bootstrap core CSS-->
<link href="{{ asset ('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<!-- Custom fonts for this template-->
<link href="{{ asset ('vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
<!-- Page level plugin CSS-->
<link href="{{ asset ('vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
<!-- Custom styles for this template-->
<link href="{{ asset ('css/sb-admin.css') }}" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<style media="screen">
  #controlbundle_alumno_fechaNacimiento_year,#controlbundle_alumno_fechaNacPadre_year,#controlbundle_alumno_fechaNacMadre_year,#controlbundle_alumno_fechaAlta_year,#controlbundle_alumno_fechaBaja_year,#controlbundle_alumno_renovServef_year{
    width: 85px;
    height: 34px;
    float: left;
    margin-bottom: 10px;
  }
  #controlbundle_alumno_fechaNacimiento_month,#controlbundle_alumno_fechaNacPadre_month,#controlbundle_alumno_fechaNacMadre_month,#controlbundle_alumno_fechaAlta_month,#controlbundle_alumno_fechaBaja_month,#controlbundle_alumno_renovServef_month{
    width: 89px;
    height: 33px;
    float: right;
    margin-bottom: 10px;
    margin-right: 45%;
  }
  #controlbundle_alumno_fechaNacimiento_day,#controlbundle_alumno_fechaNacPadre_day,#controlbundle_alumno_fechaNacMadre_day,#controlbundle_alumno_fechaAlta_day,#controlbundle_alumno_fechaBaja_day,#controlbundle_alumno_renovServef_day{
    width: 80px;
    height: 33px;
    margin-bottom: 6px;
    margin-left: 220px;
    position: absolute;
  }
  .card-body{
    text-align: center;
  }
  #controlbundle_alumno_dni::before{
    margin-right: 100px;
  }
</style>
<body>
  <div id="formulario">
    <div class="contenedor">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Actualizar alumno</div>
        <div class="card-body">
          {{ form_start(form) }}

          {{ form_widget(form) }}
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
