{% extends 'base.html.twig' %}
{% block historial %}
<br><br><br>
  <div class="content-wrapper">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="text-left">
            <div class="row">
              <div class="col-md-9">
                <h1>{{ alumnoID.nombre }}</h1><br>
                <img src="{{asset('img/cara.png')}}" alt="Foto del alumno" width="30%"><br>
                <button type="button" name="button" style="margin-left:80%;margin-top: 22px;background-color: #007bff;  border-color: #007bff;white-space: nowrap;  line-height: 1.5;border-radius: .3rem;"><a href='{{ path('nuevoAlumnoCursos',{'id':alumnoID.id}) }}'style="color: #f5f5f5;">Añadir a Curso</a></button>
                <div class="row">
                  <div class="col-md-6"><br>
                    <h5>Nombre:  {{ alumnoID.nombre }}</h5>
                    <h5>Apellidos:  {{ alumnoID.apellidos }}</h5>
                    <h5>Fecha de Nacimiento: {{ alumnoID.fechaNacimiento|date }}</h5>
                    <h5>Dni: {{ alumnoID.dni }}</h5>
                    <h5>Localidad: {{ alumnoID.localidad }}</h5>
                    <h5>Código postal: {{ alumnoID.codigoPostal }}</h5>
                    <h5>Direccion: {{ alumnoID.direccion }}</h5>
                    <h5>Teléfono de Casa: {{ alumnoID.telfCasa }}</h5>
                    <h5>Telefono 2: {{ alumnoID.telf2 }}</h5>
                    <h5>Móvil: {{ alumnoID.movil }}</h5>
                    <h5>Nombre padre{{ alumnoID.nombrePadre }}: </h5>
                    <h5>Apellidos padre: {{ alumnoID.apellidosPadre }}</h5>
                    <h5>Direccion padre: {{ alumnoID.direccionPadre }}</h5>
                    <h5>Telf. Trabajo padre: {{ alumnoID.telfTrabajoPadre }}</h5>
                    <h5>Movil padre: {{ alumnoID.movilPadre }}</h5>
                    <h5>Profesion padre: {{ alumnoID.profesionPadre }}</h5>
                    <h5>Dni padre: {{ alumnoID.dniPadre }}</h5>
                    <h5>Correo padre: {{ alumnoID.correoPadre }}</h5>
                    <h5>Nombre madre: {{ alumnoID.nombreMadre }}</h5>
                    <h5>Apellidos madre: {{ alumnoID.apellidosMadre }}</h5>
                  </div>
                  <div class="col-md-6"><br>
                    <h5>Direccion madre:  {{ alumnoID.direccionMadre }}</h5>
                    <h5>Movil madre:  {{ alumnoID.movilMadre }}</h5>
                    <h5>Tlf. Trabajo madre:  {{ alumnoID.telfTrabajoMadre }}</h5>
                    <h5>Profesion madre:  {{ alumnoID.profesionMadre }}</h5>
                    <h5>Fecha nacimiento madre: {{ alumnoID.fechaNacMadre|date("d-m-Y") }}</h5>
                    <h5>Dni madre: {{ alumnoID.dniMadre }}</h5>
                    <h5>Correo madre: {{ alumnoID.correoMadre }}</h5>
                    <h5>Diagnostico: {{ alumnoID.diagnostico }}</h5>
                    <h5>Fecha alta: {{ alumnoID.fechaAlta|date("d-m-Y")}}</h5>
                    <h5>Fecha baja: {{ alumnoID.fechaBaja|date("d-m-Y") }}</h5>
                    <h5>Autorizacion imagen: {{ alumnoID.autorizacionImagen }}</h5>
                    <h5>Consentimiento tlf: {{ alumnoID.consentimientoTelf }}</h5>
                    <h5>Consentimiento tlf numero: {{ alumnoID.consentimientoTelfNumero }}</h5>
                    <h5>Observaciones: {{ alumnoID.observaciones }}</h5>
                    <h5>Foto usuario: {{ alumnoID.fotoUsuario }}</h5>
                    <h5>Renovacion servef: {{ alumnoID.renovServef }}</h5>
                    <h5>Centro acedémico anterior: {{ alumnoID.centroAcademicoAnterior }}</h5>
                    <h5>Inscripcion Servef: {{ alumnoID.inscripcionServef }}</h5>
                    <h5>Informe Psicopedagógico: {{ alumnoID.informePsico }}</h5>
                    <h5>Documentos matrícula: {{ alumnoID.documentosMatricula }}</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
