{% extends 'base.html.twig' %}
{% block tabla %}
<br><br><br><br>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset ('css/estiloTablas.css')}}" />
    <title></title>
    </head>
    <body>
      <div class="table-users">
        <div class="header">Alumnos</div>
        <table cellspacing="0">
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Fecha Nac.</th>
            <th>DNI</th>
            <th>Localidad</th>
            <th>Acciones</th>
          </tr>
            {% for alumnos in alumno %}
                <tr>
                <td>{{alumnos.nombre}}</td>
                <td>{{alumnos.apellidos}}</td>
                <td>{{alumnos.fechaNacimiento|date('d-m-Y')}}</td>
                <td>{{alumnos.dni}}</td>
                <td>{{alumnos.localidad}}</td>
                <td>{{alumnos.localidad}}</td>
              </tr>
            {% endfor %}
          </tr>
        </table>
      </div>
    </body>
  </html>
{% endblock %}
