{% extends 'base.html.twig' %}
{% block tabla %}
<br><br><br><br>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset ('css/estiloTablas.css')}}" />
    <script type="text/javascript" src="{{asset('js/buscador.js')}}"></script>
    <title></title>
     <script type="text/javascript" src="{{asset('js/tablesorter.js')}}"></script>
    </head>
    <body>
     <div id="buscador">
       Buscar:<input id="searchTerm" type="text" onkeyup="doSearch()"/>
     </div>
     {% if is_granted('ROLE_ADMIN') %}
        <button class="buttonInsertar" type="button" name="button"><a style="color: white;" href='{{ path('nuevoAlumno') }}'>Nuevo Alumno</a></button>
     {% elseif is_granted('ROLE_PROFESOR') %}
        <button class="buttonInsertar" style="display:none;"type="button" name="button"><a style="color: white;" href='{{ path('nuevoAlumno') }}'>Nuevo Alumno</a></button>
     {% endif %}
      <div class="table-users">
        <div class="header">Alumnos</div>

        <table cellspacing="0" id="regTable">
          <thead>
            <tr>
              <th><span class="fas fa-sort-alpha-up" onclick="sortTable(0)"></span>Nombre</th>
              <th><span class="fas fa-sort-alpha-up" onclick="sortTable(1)"></span>Apellidos</th>
              <th>Fecha Nac.</th>
              <th>DNI</th>
              <th>Localidad</th>
              <th>Mostrar</th>
              {% if is_granted('ROLE_ADMIN') %}
              <th>Borrar</th>
              <th>Actualizar</th>
              {% elseif is_granted('ROLE_PROFESOR') %}
              <th style="display:none;">Desactivar</th>
              <th style="display:none;">Actualizar</th>
              {% endif %}
            </tr>
          </thead>
            {% for alumnos in alumno %}
                <tr>
                <td>{{alumnos.nombre}}</td>
                <td>{{alumnos.apellidos}}</td>
                <td>{{alumnos.fechaNacimiento|date('d-m-Y')}}</td>
                <td>{{alumnos.dni}}</td>
                <td>{{alumnos.localidad}}</td>
                <td><a href="{{ path('alumnoid',{'id':alumnos.id}) }}">Mas Datos</a></td>
                {% if is_granted('ROLE_ADMIN') %}
                <td><a class="delete"href="{{ path('desactivarAlumno',{'id':alumnos.id}) }}" />Desactivar</a></td>
                <td><a class="actu"href="{{ path('editarAlumno',{'id':alumnos.id}) }}" />Actualizar</a></td>
                {% elseif is_granted('ROLE_PROFESOR') %}
                <td style="display:none;"><a class="delete"  href="{{ path('eliminarAlumno',{'id':alumnos.id}) }}" />Borrar</a></td>
                <td style="display:none;"><a class="actu"  href="{{ path('editarAlumno',{'id':alumnos.id}) }}" />Actualizar</a></td>
                {% endif %}
              </tr>
            {% endfor %}
          </tr>
        </table>
      </div>


{% endblock %}
