{% extends 'base.html.twig' %}
{% block historial %}
<style media="screen">span{color: #032578;}</style>
<br><br><br>
  <div class="content-wrapper">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="text-left">
            <div class="row">
              <div class="col-md-9">

                <h1>{{ profeID.nombre }}</h1><br>
                <img src="{{asset('img/fotoUsuario/' ~ profeID.foto)}}" alt="Foto del alumno" width="30%"><br>
                <button type="button" name="button" style="margin-left:80%;margin-top: 22px;background-color: #007bff;  border-color: #007bff;white-space: nowrap;  line-height: 1.5;border-radius: .3rem;"><a href='{{ path('nuevoProfesorCursos',{'id':profeID.id}) }}'style="color: #f5f5f5;">Añadir a Curso</a></button>
                <div class="row">
                  <div class="col-md-6"><br>
                    <h5><span>Nombre: </span>{{ profeID.nombre }}</h5>
                    <h5><span>Apellidos: </span>{{ profeID.apellidos }}</h5>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
