{% extends 'base.html.twig' %}
{% block listprof %}
<br><br><br><br>
<link rel="stylesheet" href="{{ asset ('css/estiloTablas.css')}}" />
<script type="text/javascript" src="{{asset('js/buscador.js')}}"></script>
<!DOCTYPE html>

<body>
  <div id="buscador">
    Buscar:<input id="searchTerm" type="text" onkeyup="doSearch()"/>
  </div>
  <button class="buttonInsertar" type="button" name="button"><a style="color: white;" href='{{ path('nuevoProfesor') }}'>Nuevo Profesor</a></button>
  <div class="table-users">
   <div class="header">Profesores</div>
   <table cellspacing="0"id="regTable">
     <tr>
       <th>Nombre</th>
       <th>Apellidos</th>
       <th>Mostrar</th>
       <th>Actualizar</th>
       <th>Eliminar</th>
     </tr>
     {% for item in prof %}
     <tr>
       <td>{{ item.nombre }}</td>
       <td>{{ item.apellidos }}</td>
        <td><a href="{{ path('historialProf',{'id':item.id}) }}">Más Datos</a></td>
        <td><a href="{{ path('editarProfesor',{'id':item.id}) }}">Actualizar</a></td>
        <td><a href="{{ path('eliminarprofesor',{'id':item.id}) }}">Eliminar</a></td>
      {% endfor %}
     </tr>
   </table>
</div>
{% endblock %}
