{% extends 'base.html.twig' %}
{% block listprof %}
<br><br><br><br>
<link rel="stylesheet" href="{{ asset ('css/estiloTablas.css')}}" />
<script type="text/javascript" src="{{asset('js/buscador.js')}}"></script>
<!DOCTYPE html>

<body>
  <div id="buscador">
    Buscar:<input id="searchTerm" type="text" onkeyup="doSearch()"/>
  </div>
  <div class="table-users">
   <div class="header">Profesores</div>
   <table cellspacing="0"id="regTable">
     <tr>
       <th>Id</th>
       <th>Nombre</th>
       <th>Apellidos</th>
       <th>Foto</th>
     </tr>
     {% for item in prof %}
     <tr>
       <td>{{ item.id }}</td>
       <td>{{ item.nombre }}</td>
       <td>{{ item.apellidos }}</td>
       <td><img height="250px" src="{{ asset('img/')}}{{item.foto}}"></td>
        <td><a href="{{ path('id',{'id':item.id}) }}">Muestra</a></td>
      {% endfor %}
     </tr>
   </table>
</div>
{% endblock %}
